<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.PageTitle</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        @@font-face {
            font-family: IRANSans;
            font-style: normal;
            font-weight: 200;
            src: url('http://akhr.ir/font/IRANSansWeb_UltraLight.ttf') format('truetype');
        }
        body {
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yOS8xMiKqq3kAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAABHklEQVRIib2Vyw6EIAxFW5idr///Qx9sfG3pLEyJ3tAwi5EmBqRo7vHawiEEERHS6x7MTMxMVv6+z3tPMUYSkfTM/R0fEaG2bbMv+Gc4nZzn+dN4HAcREa3r+hi3bcuu68jLskhVIlW073tWaYlQ9+F9IpqmSfq+fwskhdO/AwmUTJXrOuaRQNeRkOd5lq7rXmS5InmERKoER/QMvUAPlZDHcZRhGN4CSeGY+aHMqgcks5RrHv/eeh455x5KrMq2yHQdibDO6ncG/KZWL7M8xDyS1/MIO0NJqdULLS81X6/X6aR0nqBSJcPeZnlZrzN477NKURn2Nus8sjzmEII0TfMiyxUuxphVWjpJkbx0btUnshRihVv70Bv8ItXq6Asoi/ZiCbU6YgAAAABJRU5ErkJggg==);
            font-family: IRANSans !important;
        }
        h1 {
            font-family: IRANSans !important;
        }
        h2 {
            font-family: IRANSans !important;
        }
        .error-template {
            padding: 40px 15px;
            text-align: center;
            font-family: IRANSans !important;
        }

        .error-actions {
            margin-top: 15px;
            margin-bottom: 15px;
            font-family: IRANSans !important;
        }

            .error-actions .btn {
                margin-right: 10px;
                font-family: IRANSans !important;
            }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1>
                        اوووپس
                    </h1>
                    <h2>
                        @ViewBag.Title
                    </h2>
                    <div class="error-details">
                        @ViewBag.SubTitle
                    </div>
                    <div class="error-actions">
                        <a href="http://akharinkhabar.ir" class="btn btn-primary btn-lg">
                            <span class="glyphicon glyphicon-home"></span>
                            منو ببر خونه
                        </a><a href="mailto:info@akharinkhabar.com" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> ایمیل می زنم </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>